@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        src: url(./fonts/SferaRegular.woff2) format("woff2");
        font-family: 'sferaregular'
    }
    @font-face {
        src: url(./fonts/EverettLight.woff2) format("woff2");
        font-family: 'everettlight'
    }
}

